### Visual Studio ###


# Служебные файлы IDE
.vs/
*.suo
*.user
*.userosscache
*.vc.db
*.vc.vc.opendb

# Временные файлы
*.tmp
*.log
*.tlog

### Исключения ###
# Разрешить исполняемые файлы в Debug/Release
!**/[Bb]in/[Dd]ebug/[Nn]et8.0-windows/*.exe
!**/[Bb]in/[Rr]elease/[Nn]et8.0-windows/*.exe
